* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor-bg-principal: #464D45;
  --cor2: #696E68;
  --cor3: #E0E0E0;
  --cor4: #85948F;
  --cor5: #C6CFCC;
}

body {
  background-color: white;
}

header {
  position: fixed;
  background-color: var(--cor-bg-principal);
  color: whitesmoke;
  width: 100vw;
  padding: 15px;
  margin-left: calc(17vw);
  box-shadow: 5px 5px 5px black;
  border-radius: 0 22px;
}

.container {
  display: grid;
  grid-template-columns: 17vw auto;
  grid-template-rows: 67.6px auto;
}

main {
  grid-column-start: 2;
  grid-row-start: 2;
  min-height: 100vh;
  display: flex;
  justify-content: end;
}

nav {
  position: fixed;
  min-width: 17vw;
  height: 100vh;
  background: whitesmoke;
}

.sidebar {
  background-color: var(--cor2);
  height: 100%;
  padding: 27px;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.li-tema {
  min-width: 155px;
  margin-bottom: 5px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4s;
  list-style: none;
  transition: all 0.2s ease-in-out;
}

.li-tema:hover,
.li-topico:hover {
  background-color: green;
  color: whitesmoke;
  top: -6px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.escuro {
  background-color: var(--cor4);
  color: whitesmoke;
}

.claro {
  background-color: var(--cor3);
  color: var(--cor-bg-principal);
}

.li-topico {
  width: 130px;
  margin-bottom: 5px;
  margin-left: 55px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4s;
  list-style: none;
  font-size: 10px;
}

.subtopicos {
  width: 100%;
  background-color: whitesmoke;
}

.subtopico {
  background-color: whitesmoke;
  width: 100%;
  height: 717px;
  margin-top: 5px;
  border-radius: 22px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 356px auto;
  grid-gap: 2px;
}

.item {
  background-color: var(--cor2);
  padding: 25px;
}

.s-e h2 {
  color: var(--cor3);
  font-size: 2.2em;
  font-weight: bold;
}

.s-e p {
  margin-top: 15px;
  color: var(--cor5);
}

.b-t {
  grid-area: 2 / 1 / span 1/ span 2;
  padding: 0;
}

iframe {
  width: 100%;
  height: 345px;
}

.coments {
  color: var(--cor4);
  margin: 4px 0;
}

.s-d {
  overflow: hidden;
  overflow-y: scroll;
}

/*======================================================================================================
          MODAL
========================================================================================================*/

.container-modal {
  z-index: -1;
  width: 80vw;
  height: 88vh;
  display: grid;
  grid-template-rows: 35vh 10vh auto;

  position: fixed;
}

.s-e-modal {
  padding: 5px;
  background-color: var(--cor-bg-principal);

}

.s-e-modal h2 {
  margin-top: 3px;
  color: var(--cor3);
  font-size: 1.5em;
  font-weight: bold;
}

.s-e-modal p {
  margin-top: 15px;
  color: var(--cor5);
  font-size: .75em;
}

.modal-posts {
  background-color: var(--cor2);
  padding: 5px;
  overflow: hidden;
  overflow-y: scroll;
}

.modal-subtopico {
  overflow: hidden;
  overflow-y: scroll;
}

.btn-edit-subtopico {
  margin-left: 15px;
}

/*======================================================================================================
          MODAL - TABLE
========================================================================================================*/

.table-subtopicos-modal {
  background-color: var(--cor3);
  overflow: hidden;
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  border: 1px solid gray;
}

th {
  background-color: var(--cor-bg-principal);
  color: whitesmoke;
  padding: 10px;
  text-align: left;
}

td {
  padding: 5px;
}

tr {
  font-size: .9em;
  cursor: pointer;
}

/*======================================================================================================
          MODAL - EDITAR
========================================================================================================*/

.container-modal-editar{
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  width: 70vw;
  height: 88vh;
  background-color: tomato;
  z-index: -1;
  position: fixed;
}

.modal-edit-data {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 25px;
}

.modal-edit-data .post,
.modal-edit-data .comment {
  padding: 7px;
  margin: 6px;
  border-radius: 5px;
}

.btns-modal-edit {
  display: flex;
  justify-content: end;
  padding: 25px;
}

.btn-modal-edit, 
.btn-modal-create {
  width: 100px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.btn-modal-edit.cancelar{
  margin-right: 6px;
  margin-left: 10px;
}